/* Global Vars*/
body {
    background-color: #f5dfc9;
    color: #5e2f18;
    font-family: Trebuchet MS;
} 

li {
  list-style-type: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0%;
}

ul ul {
  list-style-type: none;
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
}

/* Grid */
.grid-container-element {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-gap: 20px;

}

.grid-container-child {
    margin: 10px;
}

/* Navigation Bar*/
.nav-links {
    background-color: #5e2f18;
    overflow: hidden;
    width: 180px;
    height: calc(100vh - 10px);
    padding: 15px;
    position: fixed;
}

.nav-links a {
    float: left;
    color: #d4a785;
    text-align: left;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: None;
    color: #f5dfc9;
}

/* sub project links */
.sub-project a{
    color: #5e2f18;
}

.sub-project a:hover {
    background-color: None;
    color: #bf8656;
}